.example-margin {
    margin: 0 10px;
  }
  
  .random-card {
    width: 400px;
    height: 400px;
  }
  .header-button {
    margin-left: auto;
  }
  
  .flex-container {
    margin: 5% auto
  }
  
  .container {
    width: 90%;
    // background-color: #b41a1a;
    height: 90%;
    margin: 2% auto;
  }
  
  .expanded-toolbar {
    justify-content: space-between;
    align-items: center;
  }
  