<mat-card class ="mat-elevation-z6">
    <mat-card-content [formGroup]="loginForm">
      <h2 class="login-heading">Log In</h2>
      <!-- <form [formGroup]="loginForm"> -->
        <p>
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label>Username</mat-label>
            <input matInput type="email" required formControlName="email">
          </mat-form-field>
        </p>
    
        <p>
          <mat-form-field appearance="outline" class="full-width-input">
            <mat-label>Password</mat-label>
            <input matInput type="password" required formControlName="password">
          </mat-form-field>
        </p>
    
        <!-- <mat-divider></mat-divider> -->
        <div class="alert alert-danger" *ngIf="invalidData">
          Invalid Username or Password
       </div>
    
        <div fxLayout="row" fxLayoutAlign="space-evenly none" style="margin-bottom: 20px;">
          <button mat-flat-button color="primary" (click)="login()">Login</button>
          <button mat-flat-button color="primary" routerLink="/register">Register</button>
        </div>
        <hr>
        <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 20px;">
          <button mat-flat-button class="googleSignIn" (click)="loginWithGoogle()">
            Sign in With Google
          </button>
          <!-- <button mat-flat-button class="facebookSignIn" routerLink="/register" style="margin-left: 60px;">Sign In With Facebook</button> -->
        </div>
      <!-- </form> -->
    </mat-card-content>
  </mat-card>
  