<div fxLayout="row" fxLayoutAlign="space-evenly none">
    <mat-card>
      <mat-card-content>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore, tenetur odit.
        Nam eius, assumenda asperiores molestiae consequatur quo quidem atque sed voluptate
        beatae omnis earum maxime ratione mollitia quaerat reprehenderit!
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit minima repellendus
         iste a voluptatem animi in ut vitae veniam, voluptatibus perspiciatis voluptate
         porro cum dolorum asperiores aperiam quaerat doloremque ex?
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga quod sit repellendus
        sed repellat quo quae veritatis, consequuntur voluptas corrupti aspernatur enim,
        dolor tempore dicta eos, iste voluptate ut saepe?
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro non nihil ad
        reiciendis, animi aperiam aliquid quo pariatur nobis similique omnis eligendi
        incidunt sapiente repellendus. A fugiat cumque voluptate tempora!
      </mat-card-content>
    </mat-card>
  </div>
  