<mat-sidenav-container *ngIf="isDataAvailable" class="main-container" hasBackdrop="true">
  <mat-sidenav #sidenav class="sidenav mat-elevation-z6" mode="side" opened>
    <mat-nav-list>
      <mat-list-item (click)="openNewNoteDialog()">
        <a matLine>
          New Note
        </a>
          <mat-icon>add</mat-icon>
      </mat-list-item>
      <hr>
      <mat-list-item *ngFor="let note of listOfNotes" (click)="changeCurrentNote(note)" [matTooltip]='$any(note)' [ngClass]="{'active': currentNote!.name == note }">
          <a matLine>{{ note }}</a>
            <button mat-icon-button (click)="openEditNoteNameDialog(note)">
            <mat-icon>mode</mat-icon>
            </button>
            <button mat-icon-button (click)="openDeleteConfirmationDialog(note)">
            <mat-icon>delete</mat-icon>
            </button>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <quill-editor format='json'
    [(ngModel)]="currentNote!.note"
    (ngModelChange)="editNote()">
    </quill-editor> 
  </mat-sidenav-content>
</mat-sidenav-container>