.main-container {
    height: 100%;
    // z-index: -1 !important;
  }

.sidenav {
    width: 15%;
    border: none;
    background-color: #0a0f29a3;
}

.editor-container {
  width: 60%;
  height: 80%;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  border-radius: 25px;
}

mat-sidenav, 
mat-sidenav.mat-locked-open, 
mat-sidenav.mat-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 80vw !important;
    max-width: 300px !important;
}

mat-list-item.notactive {
  color: #cabcbc;
}

mat-list-item.active {
  color: black;
}