<mat-card class ="mat-elevation-z6">
    <mat-card-content [formGroup]="registerForm">
      <h2 class="register-heading">Register</h2>
      <p>
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Username</mat-label>
          <input matInput required formControlName="username">
        </mat-form-field>
      </p>
  
      <p>
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Email</mat-label>
          <input matInput type="email" required formControlName="email">
        </mat-form-field>
      </p>
  
      <p>
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Password</mat-label>
          <input matInput type="password" required formControlName="password">
        </mat-form-field>
      </p>
  
      <p>
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" required>
        </mat-form-field>
      </p>
      <div class="alert alert-danger" *ngIf="invalidData">
        Invalid Username or Password
     </div>
      <div fxLayout="row" fxLayoutAlign="space-evenly none">
        <button mat-flat-button color="primary" (click)="register()">Register</button>
      </div>
    </mat-card-content>
  </mat-card>
  