<mat-card>
    <mat-card-content>
      <h2 class="register-heading">Register</h2>
      <p>
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Username</mat-label>
          <input matInput required>
        </mat-form-field>
      </p>
  
      <p>
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Email</mat-label>
          <input matInput type="email" required>
        </mat-form-field>
      </p>
  
      <p>
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Password</mat-label>
          <input matInput type="password" required>
        </mat-form-field>
      </p>
  
      <p>
        <mat-form-field appearance="outline" class="full-width-input">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" required>
        </mat-form-field>
      </p>
  
      <div fxLayout="row" fxLayoutAlign="space-evenly none">
        <button mat-flat-button color="primary">Register</button>
      </div>
    </mat-card-content>
  </mat-card>
  